In [45]:
import pandas as pd

In [46]:
#Loading dataset
df = pd.read_csv('kidney_stone_data.csv')

In [47]:
df.head()

  treatment stone_size  success
0         B      large        1
1         A      large        1
2         A      large        0
3         A      large        1
4         A      large        1

In [48]:
#Displays list of columns
df.columns

Index(['treatment', 'stone_size', 'success'], dtype='object')

In [49]:
#Checking the presence of null values 
df.isnull().sum()

treatment     0
stone_size    0
success       0
dtype: int64

In [50]:
#Data type of every column
df.dtypes

treatment     object
stone_size    object
success        int64
dtype: object

In [51]:
#Count of unique values in a column
df['treatment'].value_counts()

B    350
A    350
Name: treatment, dtype: int64

In [52]:
df['stone_size'].value_counts()

small    357
large    343
Name: stone_size, dtype: int64

In [53]:
df['success'].value_counts()

1    562
0    138
Name: success, dtype: int64

In [54]:
#Importing the libraries
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [55]:
#X has input and y has output
X = df.drop("success", axis=1)
y = df["success"]

In [56]:
# Perform one-hot encoding on the categorical variables
X = pd.get_dummies(X, columns=["treatment", "stone_size"], drop_first=True)

In [57]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [58]:
#Define the logistic regression model
model = LogisticRegression()

In [59]:
model.fit(X_train, y_train)

LogisticRegression()

In [60]:
#Checking the accuracy score
accuracy = model.score(X_test, y_test)
print("Accuracy:", accuracy)

Accuracy: 0.7571428571428571